
div {
  // width: 100%;
  top: 0;
  left: 0;
  background: white;
  transition: all 0.3s ease;

  .about {
    padding: 0 0.5em;
    max-width: 800px;
    margin: auto;
    margin-top: 50px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    transition: height 0.3s ease;

    .profile {
      margin: auto;
      margin-top: 0px;
      justify-content: space-between;
      transition: height 0.3s ease;
      // border:2px solid red;
      h1 {
        font-size: 2rem;
        font-family: 'DM Sans', sans-serif;
      }

      p {
        font-size: 1.2rem;
        font-family: 'DM Sans', sans-serif;
        padding-right: 1em;
        max-width: 600px;
        line-height: 30px;
      }
    }
    .profile-pic {
      border: 1px solid black;
      // padding: 0.5em;
      width: 300px;
    }
  }
}

@media (max-width: 850px) {
  div {

    .about {
      display: grid;
      .profile {
        h1 {

        }

        p {

        }
      }
      .profile-pic {
        margin-top: 1em;
        margin: 0 auto;
      }
    }
  }
}
